@font-face {
  font-family: 'Lato';
  src: url('./fonts/lato-bold-webfont.woff2') format('woff2'),
     url('./fonts/lato-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('./fonts/lato-regular-webfont.woff2') format('woff2'),
     url('./fonts/lato-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'Bitter';
    src: url('./fonts/bitter-bold-webfont.woff2') format('woff2'),
         url('./fonts/bitter-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bitter';
    src: url('./fonts/bitter-italic-webfont.woff2') format('woff2'),
         url('./fonts/bitter-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
  font-family: 'Monaco';
  src: url('./fonts/monaco-webfont.woff2') format('woff2'),
    url('./fonts/monaco-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}