// Contain overflow in all browsers.
pre {
  overflow: auto;
}

html.fonts-loaded {
  code,
  kbd,
  pre,
  samp {
    font-family: $font-code;
  }
}

code,
kbd,
pre,
samp {
  font-family: $font-code-base;
}

code {
  @include padding-equal(1);
  overflow: scroll;
  font-size: 90%;

  display: block;

  @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
    $leading: $leading-desktop;
    $leading-rem: $leading-rem-desktop;

    @import '../mixins/padding';

    @include padding-equal(1);
  }

}

pre {
  color: white;
  position: relative;
  overflow: visible;
}

pre::after {
  position: absolute;
  height: 100%;
  width: 100vw;
  left: 50%;
  background: #23241f;
  content: '';
  transform: translateX(-50vw);
  z-index: -1;
  bottom: 0;
}
